body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

body a {
    text-decoration: none;
}

.sign-page {
    margin-top: 200px;
}

.cover {
    max-width: 700px;
    max-height: 500px;
}

.line {
    width: 100%;
    height: 2px;
    border: 1px solid gray;
}

.inputs {
    height: 110px;
}

.sign-form button {
    width: 25%;
    height: 50px;
}

footer {
    height: 100px;
    background-color: #0575E6;
    margin-top: 184px;
}











@font-face {
    font-family: "Roboto";
    src: url(./Roboto-Regular.ttf);
}